@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 600px) {
    .text {
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }
}

* {
    box-sizing: border-box;
}

body.html {
    height: 100%;
    margin: 0;
}

.cor {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #f3f4f5, #be6f07, #0315b6, #f7f7f8);
    background-size: 800% 800%;
    animation: colors 15s ease infinite;
}

body {
    background-color: #f0d2a7;
    font-family: "Monserrat", sans-serif;
    display: flex;
    height: 100vh;
    margin-top: 50px;
}

.corpo {
    position: relative;
    margin: 0 auto;
}

.painel {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 2px solid rgb(8, 8, 8);
    border-radius: 4px;
    resize: none;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 200px;
    padding: 30px;
    text-align: center;
    width: 400px;
    right: -210px;
}